.season-block {
    display: flex;
    flex-direction: row;
}

.new-season {
    background-color: #000;
    width: 50%;
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.img-frame {
    background-color: #191B1C;
    width: 240.75px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-season-img {
    background-image: url(../../../../entities/UI/new-season-img.png);
    width: 50%;
    height: 730px;
    display: flex;
    flex-direction: column-reverse;
    
}