li {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
}

.selected-bg {
    background-color: #1f1f1f;
    height: 100%; 
}

.selected-color {
    color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    height: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.Header {
    background-color: #0F0F0F;
    color: #969696;
    text-decoration: none;
    width: 100%;
    height: 80px;
}