.button {
    background-color: #007bff00;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
    margin-top: 90px;
}


.button:hover {
    background-color: #ffffff;
    color: #000000;
}