.first-screen-bg {
    background-image: url('../../../../entities/UI/FirstScreen.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 801px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 8em;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    width: 20em;
    height: 20em;
}

.line {
    width: 80%;
    height: 2px;
    background-color: white;
    margin-bottom:10px ;
}

.limited-width {
    max-width: 50%; 
    text-align: center; 
    overflow-wrap: break-word; 
}
